$RECYCLE.BIN/
*.cab
*.iml
*.lnk
*.lock
*.log
*.msi
*.msix
*.msm
*.msp
*.pid
*.seed
*.stackdump
*.swp
*.tgz
*.zip
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.directory
.eslintcache
.fseventsd
.fuse_hidden*
.grunt
.idea
.lock-wscript
.netrwhist
.next
.nfs*
.node_repl_history
.npm
.nuxt
.nyc_output
.serverless
.tscache
.vscode
.vuepress
.yarn-integrity
Thumbs.db
[Dd]esktop.ini
bower_components
build
coverage
ehthumbs.db
ehthumbs_vista.db
jspm_packages
lib-cov
logs
node_modules
pids
.env.local
.env.development
